app-report-detail {

  .padd {
    padding: 0 33px;
  }
  .explain {
    color: #888888;
    font-size: 1rem;
  }
  th {
    font-weight: normal;
  }
  .cover {
    width: 100%;
    min-height: 100vh;
    .logo-cover {
      margin-top: 20%;
      margin-left: 10%;
    }
    .info {
      width: 100%;
      text-align: right;
      padding: 20% 50px;
      height: 50%;
      .company {
        font-size: 2rem;
        color: #333;
        padding: 10px 0;
      }
      .slogan {
        color: #75a4ce;
        font-size: 1.5rem;
        padding: 10px 0;
      }
      .name {
        font-size: 1rem;
        color: #333333;
        padding: 10px 0;
      }
      .time {
        color: #333333;
        padding: 10px 0;
      }
    }
    .report-cover {
      width: calc(100% + 32px);
      margin-left: -16px;
      max-width: 110%;
    }

  }
  .copyright {
    color: #333333;
    padding: 20px;
    margin: 50px 0;
  }
  .l-w {
    position: absolute;
    left: 0;
    top: 40px;
    .item {
      padding: 10px 0;
      button {
        width: 120px;
        color: #ffffff;
        -webkit-border-radius: 0 0 10px 5px;
        -moz-border-radius: 5px 5px 10px 5px;
        border-radius: 0 5px 5px 0;
      }
      .o {
        background: #7e8fbc;
      }
      .t {
        background: #cabd9d;
      }
    }
  }
  .content {
    width: 60%;
    margin: 0 auto !important;
    margin-top: 113px !important;
    height: 100%;
    //min-height: 82vh;
    position: relative;
    padding: 16px;
  }
  .title {
    text-align: center;
  }
  .head {
    border-bottom: 1px solid #92A0C6;
  }
  .neck-time {
    float: left;
    margin-top: 60px;
  }
  .neck {
    width: 90%;
    margin: 0 auto;
  }
  .neck1 {
    overflow: hidden;
  }
  .logo {
    float: right;
    margin-top: 40px;
    width: 150px;
  }
  .text {
    overflow: hidden;
  }
  .text1 {
    float: left;
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    color: #22ACFD;
    font-size: 20px;
  }

  .text5 {
    text-align: left;
    margin-top: 10px;
  }
  .p0 {
    text-indent: 34px;
  }
  p {
    text-align: left !important;
    font-size: 17px;
  }
  .title {
    color: #5CB5D8;
  }
  .p10 {
    margin-bottom: 50px;
  }
  p {
    letter-spacing: 1px;
  }
  .charts-title {
    text-align: center;
    color: #5CB5D8;
  }
  .m-progress {
    .p-c {
      width: 100%;
      padding: 20px 20px 30px;
      //height: 80px;
      background: #f7f7f7;
      position: relative;
      .score {
        width: 35px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
      .line {
        width: 100%;
        height: 1px;
        background: #213c59;
        margin-top: 20px;
        .dot {
          width: 2px;
          height: 6px;
          background: #213c59;
          position: relative;
          span {
            position: absolute;
            bottom: -50%;
            left: -50%;
            transform: translate(-50%, 90%);
          }
        }
      }

      .p {
        height: 30px;
        .p1 {
          background: #ec979a;
        }
        .p2 {
          background: #e5c1b3;
        }
        .p3 {
          background: #d8ead4;
        }
      }
      .s-line {
        width: 10px;
        height: 40px;
        position: absolute;
        background: #6a778a;
        z-index: 1;
        top: 15px;
      }
    }
  }
  .form {
    .row {
      border: 0;
      .col {
        width: 23%;
        text-align: center;
        border: 1px solid #eeeeee;
        margin: 5px;
        .tips {
          padding: 5px 0;
        }
      }
    }
  }
  .charts-wrapper {
    width: 120%;
    margin-left: -10%;
    .row {
      border: 0;
      .col {
        border: 0;
      }
    }
    .tips {
      text-align: center;
      color: #b2b2b2;
      padding: 5px 0;
    }
    .chart {
      margin: 20px 0;
    }
  }
  .keyword-wrap {
    width: 100%;
    .row {
      border: 0;
      .col {
        border: 0;
      }
    }
    .key {
      padding: 10px;
      span {
        padding: 5px;
        margin: 5px;
        color: #e2ae38;
      }
    }
  }
  .explain-table {
    border-color: #5d5d5d;
    color: #333333;
    margin-top: 20px;
  }
  .la {
    width: 50px;
    text-align: center;
  }
  .auto {
    text-align: center;
  }
  .con {
    text-indent: 34px;
  }
  .row {
    //border-top: 1px solid #333333;
    //border-bottom: 1px solid #333333;
    //border-left: 1px solid #333333;
    //.col {
    //  border-right: 1px solid #333333;
    //}

  }

  .copy {
    width: 70%;
    margin: 20px auto;
    font-size: 17px;
  }
  .report {
    width: 90%;
    margin: 0 auto;
  }
  .report-head {
    margin-top: 30px;
  }
  .logo1 {
    float: right;
  }
  .report-title {
    color: #5CB5D8;
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .s-title {
    font-size: 1.3rem;
    color: #5CB5D8;
  }
  .xs-title {
    font-size: 17px;
    color: #5CB5D8;
    padding: 5px 0;
  }
  .item {
    padding: 5px 0;
    .score {

    }
  }
  .make {
    margin-top: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #6985A7;
  }
  .make-content {
    border: 1px solid #333333;
    padding: 30px;
  }
  .make1 {
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #6985A7;
  }
  .work {
    overflow: hidden;
  }
  .work1 {
    width: 6%;
    border: 1px solid #333333;
    float: left;
    padding: 30px 0;
  }
  .work2 {
    width: 94%;
    border: 1px solid #333333;
    float: left;
    padding: 20px 10px;
  }

  .ver {
    margin: 0 auto;
    width: 17px;
    font-size: 17px;
    font-weight: 600;
  }
  .ver1 {
    color: #c00000;
  }
  .ver2 {
    color: #843c0b;
  }
  .ver3 {
    color: #44546a;
  }
}
