<div class="page content">
  <div class="info-container">
    <div class="title">订单详情</div>
    <div>订单号：20180930101025</div>
  </div>
  <div class="info-container">
    <div class="title">报告详情</div>
    <div class="row">
      <div class="col col-auto img-col">
        <img src="assets/img/report.png">
      </div>
      <div class="col info-col">
        <div class="name">基本报告</div>
        <div class="desc">购买后可查看全部机打报告</div>
      </div>
      <div class="col col-auto ">
        <div class="money">
          0元
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-auto img-col">
        <img src="assets/img/doctor.jpg">
      </div>
      <div class="col info-col">
        <div class="name">专家咨询师</div>
        <div class="desc">多量表综合测评更加权威<span>（机打报告+咨询师报告）</span></div>
      </div>
      <div class="col col-auto ">
        <div class="money">
          39.9元
        </div>
      </div>
    </div>
  </div>
</div>
