test-detail-report {
  .l-w {
    position: absolute;
    left: 0;
    top: 40px;
    .item {
      padding: 10px 0;
      button {
        width: 120px;
        color: #ffffff;
        -webkit-border-radius: 0 0 10px 5px;
        -moz-border-radius: 5px 5px 10px 5px;
        border-radius: 0 5px 5px 0;
      }
      .o {
        background: #7e8fbc;
      }
      .t {
        background: #cabd9d;
      }
    }
  }
  .content {
    width: 60%;
    margin: 0 auto !important;
    margin-top: 113px !important;
    height: 100%;
    //min-height: 82vh;
    position: relative;
    padding: 16px;
  }
  .title {
    text-align: center;
  }
  .head {
    border-bottom: 1px solid #92A0C6;
  }
  .neck-time {
    float: left;
    margin-top: 60px;
    margin-left: 50px;
  }
  .neck1 {
    overflow: hidden;
  }
  .logo {
    float: right;
    margin-top: 60px;
  }
  .text {
    overflow: hidden;
  }
  .text1, .text2, .text3, .text4 {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
  }
  .text1 {
    height: 50px;
    width: 15%;
    color: #22ACFD;
    font-size: 20px;
    margin-left: 18%;
  }
  .text2 {
    height: 50px;
    width: 15%;
    border: 3px solid #DA6868;
  }
  .text3 {
    height: 50px;
    width: 15%;
    border: 3px solid #6985A7;
  }
  .text4 {
    height: 50px;
    width: 15%;
    border: 3px solid #BAD08D;
  }
  .text5 {
    width: 80%;
    border: 3px solid #F47766;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 50px;
  }
  .p0 {
    line-height: 30px;
  }
  .p0, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
    margin-top: 10px;
  }
  .p1, .p3, .p5, .p7, .p9 {
    color: #f47766;
  }
  .p10 {
    margin-bottom: 50px;
  }
  p {
    letter-spacing: 1px;
  }
  .copy {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 17px;
  }
  .report {
    width: 70%;
    margin: 0 auto;
  }
  .report-head {
    margin-top: 30px;
  }
  .logo1 {
    float: right;
  }
  .report-title {
    color: #5CB5D8;
    font-size: 19px;
  }
  .make {
    margin-top: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #6985A7;
  }
  .make-content {
    border: 1px solid #333333;
    padding: 30px;
  }
  .make1 {
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #6985A7;
  }
  .work {
    overflow: hidden;
  }
  .work1 {
    width: 6%;
    border: 1px solid #333333;
    height: 182px;
    float: left;
    padding: 30px 0;
  }
  .work2 {
    width: 94%;
    border: 1px solid #333333;
    height: 182px;
    float: left;
    padding: 20px 10px;
  }

  .ver {
    margin: 0 auto;
    width: 17px;
    font-size: 17px;
    color: #FE4B3E;
  }
  .ver1 {
    margin: 0 auto;
    width: 17px;
    font-size: 17px;
    color: #545454;
  }
}
