<div class="echart-socket">
  <div class="row echart-top">
    <div class="col col-auto yq">
      <select name="nm" id="" >
        <option value="" *ngFor="let nam of name; let i = index "> {{nam.user}}</option>
      </select>
    </div>
    <div class="col">
      <button mat-button [class.act] = 'act === i' *ngFor = 'let button of butt; let i = index'
      (click)="goDetail(i)"
      >{{button.title}}</button>
    </div>
    <div class="row echart-rt">
      <div class="col aft">
        <select name="cm">
          <option >选择常模1</option>
          <option >选择常模2</option>
        </select>
      </div>
      <div class="col">
        <select name="fw">
          <option >选择匹配范围1</option>
          <option >选择匹配范围2</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row echart-con">
    <div  echarts [options]="option" class="chart col col-auto" *ngFor = 'let lis of [1,1,1,1]; let i = index'></div>
  </div>
  <div class="row echart-foot">
    <div class="big col col-auto" echarts [options]="option"></div>
    <div class="col col-auto text">
      <div class="zs">受测人自述</div>
      <textarea name="zs1"  cols="15" rows="5">能力测试是以提高自身修为，为基础，德智体美全面发展
      </textarea>
      <div class="zs">
        企业详细信息
        <img src="assets/img/clock.png" alt="">
      </div>
      <textarea name="zs2"  cols="15" rows="5" placeholder="请输入..."></textarea>
    <button mat-button class="up">提交</button>
    </div>
  </div>
</div>
