app-launch-evaluation{

  $b: #5a72a0;
  $lb: #333;
  $six: #666666;
  .p-container{
    .six{
      color: $six;
    }
    .jsb{
      justify-content: space-between;
    }
    background: #fff;
    width: calc(100% - 4rem);
    margin: 113px auto 0;
    .b-c{
      color: #b0b0b0;
      img{
        margin-right: 10px;
      }
    }
    .row-end{
      position: relative;
      justify-content: flex-end;
      padding: 20px 60px 0 0;
      .btn{
        position: absolute;
        top:80px;
        background: #7e8fbc;
        color: #fff;
        padding: 4px 16px;
      }
      .btn-l{
        color: #7e8fbc;
        border: 1px solid #7e8fbc;
        background: #fff;
        position: absolute;
        right: 180px;
      }
      .iconfont{
        position: absolute;
        right: 260px;
        top: 33px;
        font-size: 22px;
        transform: translateY(-50%);
      }
    }
    .in{
      width: 240px;
      border-radius: 20px;
      background: #f5f5f5;
      padding-left: 15px;
      border: 0;

    }
    .t-content{
      .w-30{
        width: 25%;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-right: 20px;
        padding: 20px 10px;
        box-shadow: 0 0 10px #ccc;
        img {
          width: 150px;
        }
        .b-t{
          padding: 10px;
        }
        .b-tt{
          font-size: 20px;
          padding-top: 40px;
          padding-bottom: 0;
        }
      }
      .bot{
        margin-top: 20px;
        padding-bottom: 100px;
      }
      .cho{
        padding: 6px;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        div{
          border: 1px solid #7e8fbc;
          color: #7e8fbc;
          border-radius: 6px;
          padding: 2px 8px;;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
      .space-around{
        align-items: center;
        img {
          width: 19px;
          height: 18px;
        }
      }
      width: calc(100% - 360px);
      margin: 0 auto;
      .row-bas{
        padding: 30px 0 10px;
        align-items: baseline;
        color: $lb;
        h3{
          margin-right: 1rem;
        }
      }
      .nav-f{
        margin-bottom: 20px;
      }
      .p-act{
        color: #7e8fbc;
        border-bottom: 1px solid #7e8fbc;
      }
      .p-nav{
        padding: 10px;
        margin-right: 2rem;
        cursor: pointer;
      }
      .box {
        padding: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0 0 10px #ccc;
        width: 30%;
        .m-b{
          margin-bottom: 20px;
          .rz{
            margin-top: 10px;
          }
        }
        .sp{
          border-radius: 6px;
          padding: 2px 10px;
          border: 1px solid  #7e8fbc;
          color:  #7e8fbc;
          margin: 0 10px 10px 0;
        }
        span{
          display: inline-flex;
        }
      }
      .selected {
        border: 1px solid #FE4B3E;
      }
      .b-btn{
        background:  #7e8fbc;
        color: #fff;
        padding: 2px 5px;
        margin-left: 30px;
      }
    }
  }
}
