start-evaluation{
  .content-aptitude{
    text-align: center;
    font-size:16px;
    color:#878787;
    padding-top: 16px;
    width: 60%;
    margin: 0 auto !important;
    margin-top: 113px !important;
    h1{
      font-size: 22px;
      color:#545454;
    }
    p.explain{
      padding:5px;
    }

    .btn-box{
      text-align: center;
      button{
        color:#fff;
        background:#7E8FBC;
        border-radius: 5px;
        width: 110px;
        height: 45px;
        border: none;
      }
    }

  }
}
