<div class="file-see">
  <div class="title">孙先生</div>
  <button mat-button class="change">修改</button>
  <button mat-button class="del">删除</button>
  <button mat-button class="sav">保存</button>
  <div class="sec row">
    <img class="col col-auto" src="assets/img/doctor.jpg" alt="">
    <div class="sec-div col col-auto">
      <div><span>ID：</span><input type="text"></div>
      <div><span>姓名：</span><input type="text"></div>
      <div><span>手机号：</span><input type="text"></div>
    </div>
  </div>
  <div class="row thr">
    <div class="col thr-left">
      <div>
        <span>性别：</span> <input type="text">
      </div>
      <div>
        <span>身份证：</span> <input type="text">
      </div>
      <div>
        <span>民族：</span> <input type="text">
      </div>
      <div>
        <span>婚姻状况：</span>
        <select>
          <option>未婚</option>
        </select>
      </div>
    </div>
    <div class="col thr-left">
      <div>
        <span>年龄：</span> <input type="text">
      </div>
      <div class="row com-s">
        <span>籍贯：</span>
        <select>
          <option>黑龙江</option>
        </select>
        <select>
          <option>哈尔滨</option>
        </select>
        <select>
          <option>道外区</option>
        </select>
      </div>
      <div>
        <span>学历：</span>
        <select class="">
          <option>博士</option>
        </select>
      </div>
      <div class="row com-s">
        <span>婚姻状况：</span>
        <select>
          <option>未婚</option>
        </select>
        <select>
          <option>未婚</option>
        </select>
        <select>
          <option>未婚</option>
        </select>
      </div>
    </div>
  </div>
  <div class="for-left row">
    <div class="col thr-left bo0">
      <div>
        <span>职务：</span> <input type="text">
      </div>
      <div>
        <span>司龄：</span> <input type="text">
      </div>
      <div>
        <span>身份：</span>
        <select>
          <option>上级</option>
        </select>
      </div>
    </div>
    <div class="col thr-left bo0">
      <div class="com-s row ">
        <span>组织架构：</span>
        <div class="col col-auto coms-i" *ngFor = 'let jj of [1,1]'>
          <img src="assets/img/l-1.png" alt="">
          <select >
            <option>黑龙江</option>
          </select>
        </div>
        <span  class="changes">修改</span>
      </div>
      <div class="com-s row ">
        <span>标签组：</span>
        <div class="col col-auto coms-i" *ngFor = 'let jj of [1,1]'>
          <img src="assets/img/l-1.png" alt="">
          <select >
            <option>黑龙江</option>
          </select>
        </div>
        <span  class="changes">修改</span>
      </div>
    </div>
  </div>
</div>
