<div class="content">
  <mat-tab-group>
    <mat-tab label="基本信息">
      <div class="tips">请完善以下信息，方便我们更好的为您服务。</div>
      <div class="b-c">
        <button mat-button class="a-b">修改</button>
        <button mat-button class="s-b">保存</button>
      </div>
      <div class="row n-c">
        <div class="col col-auto header-container">
          <img class="header" src="assets/img/doctor.jpg">
        </div>
        <div class="col col-auto">
          <div class="row item">
            <div class="col col-auto label">ID:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">姓名:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">手机号:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
        </div>
      </div>
      <div class="row n-c bottom-container">
        <div class="col">
          <div class="row item">
            <div class="col col-auto label">性别:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">身份证:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">民族:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">婚姻状况:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row item">
            <div class="col col-auto label">年龄:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">籍贯:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">学历:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">办公地址:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
        </div>
      </div>
      <div class="row n-c">
        <div class="col">
          <div class="row item">
            <div class="col col-auto label">职务:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">司龄:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">身份:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row item">
            <div class="col col-auto label">部门:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item l-tips">
            职务、部门及身份由公司HR设置个人无法修改
          </div>

        </div>
      </div>
    </mat-tab>
    <mat-tab label="账户信息">
      <div class="tips">请完善以下信息，方便我们更好的为您服务。</div>
      <div class="b-c">
        <button mat-button class="a-b">修改</button>
        <button mat-button class="s-b">保存</button>
      </div>
      <div class="row n-c">
        <div class="col ">
          <div class="row item">
            <div class="col col-auto label">账号昵称:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">账号:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
        </div>
        <div class="col ">
          <div class="row item">
            <div class="col col-auto label">手机号:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
          <div class="row item">
            <div class="col col-auto label">密码:</div>
            <div class="col col-auto">
              <input type="text" placeholder="1">
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
