app-product{
  $b: #5a72a0;
  $lb: #494949;
  $six: #666666;
  .p-container{
    .six{
      color: $six;
    }
    .jsb{
      justify-content: space-between;
    }
    background: #fff;
    width: calc(100% - 4rem);
    margin: 113px auto 0;
    .b-c{
      color: #b0b0b0;
    }
    .row-end{
      position: relative;
      justify-content: flex-end;
      padding: 20px 60px 0 0;
      .btn{
        position: absolute;
        top:80px;
        background: #7e8fbc;
        color: #fff;
        padding: 4px 16px;
      }
      .btn-l{
        color: #7e8fbc;
        border: 1px solid #7e8fbc;
        background: #fff;
        position: absolute;
        right: 180px;
      }
    }
    .in{
      border-radius: 20px;
      background: #f5f5f5;
      padding-left: 5px;
      border: 0;
    }
    .t-content{
      .w-30{
        width: 30%;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-right: 20px;
        padding: 20px 10px;
        box-shadow: 0 0 10px #ccc;
        .b-t{
          padding: 10px;
        }
      }
      .bot{
        margin-top: 20px;
        padding-bottom: 100px;
      }
      .cho{
        padding: 6px;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        div{
          border: 1px solid #7e8fbc;
          color: #7e8fbc;
          border-radius: 6px;
          padding: 2px 8px;;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
      .space-around{
        justify-content: space-around;
      }
      width: calc(100% - 360px);
      margin: 0 auto;
      .row-bas{
        padding: 30px 0 10px;
        align-items: baseline;
        color: $lb;
        h3{
          margin-right: 1rem;
        }
      }
      .nav-f{
        margin-bottom: 20px;
      }
      .p-act{
        color: #7e8fbc;
        border-bottom: 1px solid #7e8fbc;
      }
      .p-nav{
        padding: 10px;
        margin-right: 2rem;
        cursor: pointer;
      }
      .box{
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0 0 10px #ccc;
        .m-b{
          margin-bottom: 10px;
          .rz{
            margin-top: 10px;
          }
        }
        .sp{
          border-radius: 6px;
          padding: 2px 10px;
          border: 1px solid  #7e8fbc;
          color:  #7e8fbc;
          margin-right: 20px;
          &:last-child{
            margin: 0;
          }
        }
        span{
          display: inline-flex;
        }
      }
      .b-btn{
        background:  #7e8fbc;
        color: #fff;
        padding: 2px 5px;
        margin-left: 30px;
      }
    }
  }
}
